* {
  font-family: "Roboto", sans-serif;
  border: solid 1px red;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 240px 0 240px;
}
.hero-section {
  color: #fff;
  background-color: #1f2937;
}

nav {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  padding: 0 14px 0 14px;
}

a {
  color: #fff;
  text-decoration: none;
}

.hero-content {
  display: flex;
  margin: 48px 240px 0 240px;
  justify-content: space-between;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  line-height: 64px;
  word-spacing: 24px;
}

.hero-description {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 20px;
}

#sign-up-btn {
  color: #ffff;
  font-weight: 900;
  border: none;
  background-color: #3882f6;
  padding: 10px 24px 10px 24px;
  width: auto;
  border-radius: 4px;
  margin-top: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  width: 600px;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: grey;
  height: 300px;
}

/* About Section */
.about-section {
  margin: 48px 240px 0 240px;
}

.about-title {
  font-size: 36px;
  text-align: center;
  margin: 0 0 30px 0;
}

.content-container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  margin: 0 24px 0 24px;
}
.img-container {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 6px;
}

.img-description {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

/* Quote Section */
.quote-section {
  background-color: #e5e7eb;
  padding-top: 30px;
  padding-bottom: 30px;
}

.quote {
  margin: 48px 240px 0 240px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.author {
  margin: 48px 240px 0 240px;
  text-align: end;
}

/* Call to Action Section */

.cta-container {
  background-color: #3882f6;
  margin: 48px 240px 0 240px;
  border-radius: 6px;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 50px 100px;
}

.cta-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-heading {
  margin-bottom: 8px;
}

.cta-signUp-btn {
  padding: 8px 40px 8px 40px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  background-color: #3882f6;
  font-size: 14px;
}

/* Call to Action Section */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fff;
  height: 100px;
}
